body{
    background-color:#444242;
    color: whitesmoke;
    height:100%;
}

#watermark
{
 position:fixed;
 top:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:white;
}

#footerPanel{
	
	background-color: #938a8a33;
	bottom: 0;
	position: fixed;
	width: 100%;
}
#userMinImage{
	height: 35px;
	width: 35px;
}

.menuItemPanel{
	
	float: left;
	margin: 2px 2px;
	text-align: center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.menuItemPanel img{
	width:20px;
	hight:20px;
	margin:2px;
	opacity : 0.25;
	cursor : pointer;
	
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}


/* .menuItemPanel:hover img{
	width:35px;
	hight:35px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
} */
.menuItemList{
	display : none;
	position: fixed;
	bottom: 52px;
	background-color: #3982a433;
	padding: 10px;
	margin-left: 0%;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	
	
}
.menuItemList ul {
	
	list-style: none;
	float: left;
	padding: 0;
}

.menuItemList ul li{
	height: 25px;
	margin: 2px;
	padding: 2px 5px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.menuItemList ul li:hover{
	cursor: hand;
	background-color:orange;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}



#menuItemList{
	
	position: fixed;
	background-color: #b6969666;
	width: 50%;
	margin-left: 10%;
	margin-right: 10%;
	bottom: 7%;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.zeroPaddingAndMargin{
    padding: 0;
    margin: 0;
}
.default-transition{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.mainForm{}
.default-Section-block{}
.default-Section-inline{}
.default-input{}
/*header Panel Style >>*/
#headerMainPanel{

    height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    font-size:small;
    background-color: #ffffff80;
    border-bottom:orange solid 1px;
    -webkit-box-shadow: 1px 2px 10px 4px black;
    -moz-box-shadow: 1px 2px 10px 4px black;
    box-shadow: 1px 2px 10px 4px black;
    opacity:0.5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#headerMainPanel:hover{
    opacity:1;
    background-color: orange;
    font-size:medium;
    font-style: italic;
    font-variant:small-caps;
    transition: all 0.5s;
}
.topPanel{
    height: 27px;
    padding-top: 0.1%;
}

.topPanel label,span,a{
    display:inline-block;
    margin: 5px 5px;
}
.topProgress{
    background-color:#474343;
    color:white;margin:0;
    border-radius:0;
    height:2px;

}
.topProgress div[role='progressbar']{
    width:20%;
}
/*center Panel Style >>*/
#centerMasterPanel {
    position: relative;
    width: 90%;
    top: 32px;
    left: 10%;
    padding: 0;
    height: auto;
}
/*footer Panel Style >>*/
#footerMainPanel{

    bottom: 0;
    position: fixed;
    background-color: #4a1b1be6;
}
#sideBarMainPanel{
    position: fixed;
    height: 100%;
    width: 10%;
    top: 32px;
    left: 0;
    border-right: orange solid 3px;
    background-color: #4a1b1be6;

}
#userProfileImageBar label {

    display: block;
    font-variant: small-caps;
    font-weight: unset;
    text-align: center;
    font-size: medium;
}
#userProfileImage{

    width: 60%;
    height: 50%;
    margin: 1% 0 1% 20%;
    padding: 1%;

}

#menuBar ul {
    list-style: none;
    margin:0;
    padding:0;
}
#menuBar ul li{
    width: 7%;
    float: left;
    text-align: center;
    vertical-align: middle;

}
#menuBar ul li[role="presentation"] {
    margin-bottom:5px;
    transition: all 0.5s;
}
#menuBar ul li[role="presentation"]:hover {
    background-color:#3176b1;
    cursor: pointer;
    box-shadow: 1px 5px 10px 4px black;
    margin-bottom: -5px;
    -webkit-transition: all 2s;
    transition: all 0.5s;
}

#menuBar ul li label{
    text-align: center;
    font-size: small;
    display: block;
}
#menuBar ul li label:hover{
    cursor: pointer;
}
.nav-bar-icon{
    width:25px;
    overflow: hidden;
    margin: 5% 1% 0 1%;
}
.nav-bar-icon:hover{
    cursor: pointer;
}
.activeItem{

    background-color:orange;
    border-right:orange solid 2px;
    margin-bottom: -5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.centerPanel{
    background-color: dimgray;
}
#projectNameLabel{
   /*color:#908C8C;*/
    color: #0094D9;
    margin: 1% auto;
    font-size: medium;
    text-shadow: -4px 14px 4px #000;
    font-variant: small-caps;
    font-style: italic;
}
#panelNameLabel{
    color:white;
    margin: 1%;
    font-size: medium;
    text-shadow: -4px 14px 4px #000;
    font-variant: small-caps;
    font-style: italic;
    font-variant-position: sub;

}
.hiddenItems{
    opacity: 0;
    height: 0;
    width:0;
    display:none;
}
#menuItemsHeader{
    height:30px;
    border-bottom:solid 1px white;
}
#menuItemsHeader span {
    font-size:small;

}

#menuListItems ul{
    list-style:none;
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;

}
#menuListItems ul li{
    display: block;
    color: white;
    margin:1%;
    padding:2px;
    width:50%;
    font-weight: bold;
    text-align:center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#menuListItems ul li:hover{
    cursor: pointer;
    background-color: #0094D9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


